includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - phpstan-baseline.neon

parameters:

    parallel:
        processTimeout: 600.0

    paths:
        - src
        - tests

    # The level 8 is the highest level
    level: 9

    ignoreErrors:
        - identifier: missingType.iterableValue
        # Laravel 9 vs 10/11/12 compability
        -
            message: "#^Class Illuminate\\\\Http\\\\Client\\\\Events\\\\ConnectionFailed constructor invoked with 2 parameters, 1 required\\.$#"
            count: 1
            path: src/Laravel/LaravelServiceProvider.php
            reportUnmatched: false
