parameters:
	ignoreErrors:
		-
			message: "#^Method WrkFlow\\\\ApiSdkBuilder\\\\AbstractApi\\:\\:getOverrideEndpointClassIfCan\\(\\) should return class\\-string\\<T of WrkFlow\\\\ApiSdkBuilder\\\\Interfaces\\\\EndpointInterface\\> but returns class\\-string\\<WrkFlow\\\\ApiSdkBuilder\\\\Interfaces\\\\EndpointInterface\\>\\.$#"
			count: 1
			path: src/AbstractApi.php

		-
			message: "#^Method WrkFlow\\\\ApiSdkBuilderTests\\\\TestApi\\\\Endpoints\\\\Json\\\\JsonEndpoint\\:\\:phpStanShouldReportThis\\(\\) should return WrkFlow\\\\ApiSdkBuilderTests\\\\TestApi\\\\Endpoints\\\\Json\\\\JsonResponse but returns WrkFlow\\\\ApiSdkBuilder\\\\Responses\\\\AbstractResponse\\.$#"
			count: 1
			path: tests/TestApi/Endpoints/Json/JsonEndpoint.php

		-
			message: "#^Method WrkFlow\\\\ApiSdkBuilderTests\\\\TestApi\\\\TestApi\\:\\:phpStanShouldReportThis\\(\\) should return WrkFlow\\\\ApiSdkBuilderTests\\\\TestApi\\\\Endpoints\\\\Json\\\\JsonEndpointInterface but returns WrkFlow\\\\ApiSdkBuilderTests\\\\TestApi\\\\Endpoints\\\\EmptyEndpoint\\|WrkFlow\\\\ApiSdkBuilderTests\\\\TestApi\\\\Endpoints\\\\Json\\\\JsonEndpointInterface\\.$#"
			count: 1
			path: tests/TestApi/TestApi.php

